<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" (click)="sendCommand('LEFT')">LEFT</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-secondary" (click)="sendCommand('RIGHT')">RIGHT</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-success" (click)="sendCommand('MOVE')">MOVE</button>
    </div>
</div>

<div class="row margin-top-1">
    <div class="col-md">
        <button type="button" class="btn btn-danger" (click)="sendCommand('PLACE')">PLACE</button>
    </div>
    <div class="col-md">
        <input type="text" [(ngModel)]="xCoord" class="form-control" title="X">
    </div>
    <div class="col-md">
        <input type="text" [(ngModel)]="yCoord" class="form-control" title="Y">
    </div>
    <div class="col-md">
        <select [(ngModel)]="orientation" class="form-control">
            <option *ngFor="let o of orientationList" [value]="o">{{o}}</option>
        </select>
    </div>
    
</div>

<div class="row margin-top-1">
    <div class="col-md-12">
        <button type="button" class="btn btn-warning" (click)="sendCommand('REPORT')">REPORT</button>
    </div>
</div>





